api/node_modules/
*.log
*.iml
.idea/
.DS_Store
/.vs
/Library
/Temp
/UnityPackageManager
*.csproj
*.sln
/AssetBundles
/.plastic
/obj/Debug
xmench_ideen_ws.sln.DotSettings.user
/*.user
/.git
/.idea
*.apk
/ProjectSettings/ProjectVersion.txt

Assets/Plugins/Editor/JetBrains

Assets/Plugins/Editor/JetBrains.meta